.search-page-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px;
  font-size: 1rem;
  background-color: #37474f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #555;
}

.filters {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.filter label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.book-item {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.book-cover {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.book-details {
  margin-top: 10px;
}

.book-details h2 {
  font-size: 1.2rem;
  color: #333;
}

.book-details p {
  font-size: 1rem;
  color: #555;
}

.book-details p strong {
  font-weight: bold;
}

.reset-button {
  padding: 10px 20px;
  background-color: #37474f;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s ease-in-out, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reset-button:hover {
  background-color: #263238;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.reset-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(55, 71, 79, 0.6);
}

.reset-button:active {
  background-color: #263238;
  transform: scale(0.98);
}